

  <div class="anisam-slider-row row">
    <i class="fa fa-frown-o fa-2x col-xs-1 text-right" aria-hidden="true"></i>
    <div id='pleasure-slider' class="anisam-slider col-xs-10"></div>
    <i class="fa fa-smile-o fa-2x col-xs-1" aria-hidden="true"></i>
  </div>

  <div class="anisam-slider-row row">
    <i class="fa fa-heart col-xs-1 text-right" aria-hidden="true"></i>
    <div id='arousal-slider' class="anisam-slider col-xs-10"></div>
    <i class="fa fa-heartbeat fa-2x col-xs-1" aria-hidden="true"></i>
  </div>

  <div class="anisam-slider-row row">
    <i class="fa fa-user col-xs-1 text-right" aria-hidden="true"></i>
    <div id='dominance-slider' class="anisam-slider col-xs-10"></div>
    <i class="fa fa-user fa-2x col-xs-1" aria-hidden="true"></i>
  </div>

