
<nav class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag('aam-logo-blue.png', class: "img-responsive") %>
      </div>
      <div>
        <p id="classify-counter" class="col-md-2 pull-right text-right">
          <span class="badge badge-aam"><span id="count">0</span> / 15 Complete</span>
        </p>
      </div>

    </div>
  </div>
</nav>
