

  <div class="slider-row row">
    <i class="fa fa-user fa-2x col-xs-1 text-right" aria-hidden="true"></i>
    <div id="person-slider" class="anisam-slider col-xs-11"></div>
  </div>

  <div class="slider-row row">
    <i class="fa fa-plane fa-2x col-xs-1 text-right" aria-hidden="true"></i>
    <div id="aircraft-slider" class="anisam-slider col-xs-11"></div>
  </div>

  <div class="slider-row row">
    <i class="fa fa-pied-piper fa-2x col-xs-1 text-right" aria-hidden="true"></i>
    <div id="hat-slider" class="anisam-slider col-xs-11"></div>
  </div>
