

  <div class="slider-row row">
    <i class="fa fa-chevron-circle-up fa-2x col-xs-1 text-right" aria-hidden="true"></i>
    <div id="insignia-slider" class="anisam-slider col-xs-11"></div>
  </div>

  <div class="slider-row row">
    <i class="fa fa-truck fa-2x col-xs-1 text-right" aria-hidden="true"></i>
    <div id="ground-vehicle-slider" class="anisam-slider col-xs-11"></div>
  </div>

  <div class="slider-row row">
    <i class="fa fa-plane fa-2x col-xs-1 text-right" aria-hidden="true"></i>
    <div id="aircraft-slider" class="anisam-slider col-xs-11"></div>
  </div>

  <div id="tutorial_slider_info" class="alert alert-info">
  <i class="fa fa-info-circle fa-lg col-xs-1" aria-hidden="true"></i>
  Hover over the sliders for more information about each one.</div>
