

  <div class="slider-row row">
    <i class="fa fa-bicycle fa-2x col-xs-1 text-right" aria-hidden="true"></i>
    <div id="bicycle-slider" class="anisam-slider col-xs-11"></div>
  </div>

  <div class="slider-row row">
    <i class="fa fa-truck fa-2x col-xs-1 text-right" aria-hidden="true"></i>
    <div id="ground-vehicle-slider" class="anisam-slider col-xs-11"></div>
  </div>

  <div class="slider-row row">
    <i class="fa fa-plane fa-2x col-xs-1 text-right" aria-hidden="true"></i>
    <div id="aircraft-slider" class="anisam-slider col-xs-11"></div>
  </div>
