
<div class='main'>

    <div class='jumbotron jumbotron-fluid'>
    <div class='container'>
      <div class=''>
        <h1>Help the Museum!</h1>
        <p>Thank you for taking part in this experiment in collaboration with the University of Bath.</p>
        <a href="/start" type='button' class='btn btn-primary btn-lg pull-right'>Start</a>
      </div>
      </div>
    </div>

    <div class='container'>

    </div>
</div>
