
<div id="home-container" class='main'>
</div>

  <div>

  <div id="home-jumbotron" class="text-center vertical-center jumbotron">
      <h1>Help the Museum!</h1>
      <p>Thank you for taking part in this experiment in collaboration with the University of Bath.</p>
      <%= link_to "Start", {action: 'start'}, {class: "btn btn-primary btn-lg"} %>
  </div>
</div>

