
<div class='main'>

    <div id="start-page-info"class='container'>
      <div>
        <h2>The task</h2>
        <blockquote>The American Air Museum needs your help to organise our photograph collection. We have over 15,000 photographs that need labelling. With your help we can make this collection more accessible to the public, historical researchers and future generations.</blockquote>
        <ul class="start-page-list lead">
          <li>You will be asked a series of simple questions about each photograph.</li>
          <li>Each answer you give adds a label to image to help improve the museum's collection.</li>
          <li>After completing 12 photographs you will be asked to complete a short survey and an interview to get your thoughts about your experience.</li>
          <li>Click on the <%= image_tag("view-caption.png") %> button anytime to view more information about a photograph</li>
          <li class="alert alert-warning">Caution: You will be viewing war photography so some of the images may be disturbing.</li>
          <p></p>
        </ul>
        <a href="/tutorial/daisy" type='button' class='btn btn-primary btn-lg pull-right'>Next</a>
      </div>
    </div>

</div>
