
<div class='main'>

    <div class='container'>
      <div>
        <h2>The task</h2>
        <blockquote>The American Air Museum needs your help to organise our photograph collection. We have over 15,000 photographs that need classifying. With your help we can make this collection more accessible to the public, historical researchers and future generations.</blockquote>
        <ul>
          <li>You will use a web application to answer questions about the photographs to help improve the museum's collection. There may be no right or wrong answers to some of the questions so please answer these questions to the best of your own judgement.</li>
          <li>After completing 20 photographs you will be asked to complete a survey to get your thoughts about the experience of using the application.</li>
          <li>The task should take about 20 minutes to complete. </li>
        </ul>
        <a href="/tutorial" type='button' class='btn btn-primary btn-lg pull-right'>Next</a>
      </div>
    </div>


</div>
