
<div id="tutorial-page-info" class="container">
  <div class="lead">
    <p>During this task some of the questions will require you to respond with an emotion. You can use the widget below to answer these questions.</p>
    <p>Use the sliders to change the face until it describes the emotion you want to convey. Experiment with the sliders. When you are comfortable using the widget click 'next' to start the task.</p>
  </div>
  <div class="row">
    <div id="anisam-panel" class="col-xs-6 col-xs-offset-3"></div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= render "shared/anisam" %>
    </div>
  </div>

  <div class="row">

    <a href="/classify/2" type="button" class="pull-right btn btn-lg btn-primary">Next</a>
  </div>

</div>


<script type="text/javascript">

  var anisam  = new AniSam("#anisam-panel");
  anisam.start()

</script>
