// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#question-panel {
  background-color: light-gray;
}

#image-panel {
  background-color: #f5f5f5;
  height: 800px;
}

#image {
  max-height: 100%;
}

/* .active {
  background-color: #e0e0e0;
} */

ul {
  list-style: none;
}

#question-panel hr {
  border-color: #48798d;
  border-top: 2px solid #48798d;
}

.answer {
  cursor: pointer;
}

.answer:hover {
  background-color: lightblue;
}

#classify-counter .badge {
  background-color: #48798d
}

.vertical-center {
  vertical-align: middle;
}

#question-panel .btn {
  background-color: #48798d;
  border-color: #48798d;
  color: #f8f8f8;
}

#question-panel .btn:hover, .btn:focus .btn:active, .btn.active {
  background-color: #79acc2;
  border-color: darkgray;
}

#anisam-panel {
}

#anisam-canvas {
  width: 100%;
  height: 100%;
}

.anisam-slider-row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.anisam-slider-row .fa-2x {
  margin-top: -5px;
}

.tutorial_info_icon {
  margin-right: 10px;
  margin-top: -5px;
}
